// * {
//     font-size: 24px;
// }

.container {
    display: flex;
    flex-direction: column;
}

// .container>mat-form-field {
//     font-size: 18px;
// }

// .container>mat-checkbox {
//     font-size: 18px;
// }

mat-form-field{
    width: 400px;
}
mat-card-title{
    text-align: center;
}