* {
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
}

.container>mat-form-field {
    font-size: 18px;
}

.container>mat-checkbox {
    font-size: 18px;
}

.example-container>* {
    width: 100%;
}