<div class="container">
    <mat-form-field>
        <input matInput placeholder="Nom">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Prenom">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nom d'utilisateur">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Adrese mail">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Telephone">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Mot de passe">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Confirmez Mot de pase">
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Description facultative"></textarea>
    </mat-form-field>

    <mat-checkbox color="primary" formControlName="hideRequired">Je souhaite mettre en location mon appartement</mat-checkbox>

    <mat-form-field>
        <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
        </mat-select>
    </mat-form-field>
</div>