<script src="./home/home.component.js"></script>

<div id="container-global">

    <header>
        <!--  -->
        <div class="nav-div" style="display: inline-block;">
            <button mat-button [matMenuTriggerFor]="menu">Navigation</button>
            <mat-menu #menu="matMenu">
                <a routerLink="/appartement-list" routerLinkActive="active"><button 
                    (click)="this.dataService.setStorage(!list)"
                    mat-menu-item>Liste des Appartements</button></a>
                <a routerLink="/home" routerLinkActive="active"><button (click)="this.dataService.setStorage('empty search')" mat-menu-item>Page d'accueil</button></a>
                <a routerLink="/appartement-detail" routerLinkActive="active"><button (click)="this.dataService.setStorage(!detail)"
            mat-menu-item>Détails</button></a>
            </mat-menu>
            <span style="float:right; margin-right: 24px;">
        <a [matMenuTriggerFor]="userMenu" *ngIf="this.userService.getStatus()">
          <mat-icon  matBadge="{{this.dataService.getStorageLength()}}" matBadgeOverlap="false" matBadgeColor="success" >{{userIcon}}</mat-icon>
        </a>
        <a [matMenuTriggerFor]="userMenu" *ngIf="!this.userService.getStatus()">
                <mat-icon >{{userIcon}}</mat-icon>
              </a>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item [hidden]="this.userService.getStatus()" (click)="this.userService.goToSignUp()">S'enregistrer</button>
          <button (click)="this.userService.toggleStatus()" mat-menu-item>{{ getuserInfo()}}</button>
          <button 
          [hidden]="!this.userService.getStatus()" 
          mat-menu-item (click)="this.userService.goToProfile()"><span  matBadge="{{this.dataService.getStorageLength()}}"
              matBadgeOverlap="false">Profil/messages</span></button>
            <button mat-menu-item [hidden]="!this.userService.getStatus()" (click)="this.userService.goToAppartementForm()">Ajoutez
            Votre Appartement</button>

            <a routerLink="/user-profile" routerLinkActive="active"><button mat-menu-item>Réservations</button></a>
            </mat-menu>
            </span>
        </div>
        <!--  -->
        <!--                MAIN NAV            -->
        <nav id="mainNav" style="display:inline-block">

            <!-- <app-navbar style="position:left"></app-navbar> -->
            <!-- <a class="navbar-brad"><button id="button" class="fa fa-bars open"></button></a> -->
            <!-- <div id="item">Item</div> -->
            <div>
                <!-- <span style="margin-left: 1em; margin-right: 1em;">home</a></span> -->
                <!-- <span style="margin-left: 1em; margin-right: 1em;"><a routerLink="/appartement-detail">Détails</span> -->
                <!-- <a href="#"><i class="fa fa-shopping-bag"></i></a> -->
            </div>
        </nav>

        <!--                / MAIN NAV          -->


        <div class="cta">
            <!-- (search)='searchfetch($event)' -->

            <app-search-bar></app-search-bar>
            <h1>Explorez vos opportunités</h1>
            <a [routerLink]="['/appartement-list']" routerLinkActive="router-link-active"><button>Réservez dès
          maintenant</button></a>
        </div>
    </header>
</div>
<router-outlet></router-outlet>
<hr>
<app-footer></app-footer>