<hr>
<section>

    <div class="content">

        <div class="media">
            <div class="media-body">
                <a href="#"><i class="fa fa-search"></i></a>

                <h5 class="mt-0 mb-1">{{appartement.nom}}</h5>

                <dl class="row">
                    <dt class="col-sm-3">Adresse :</dt>
                    <dd class="col-sm-9">{{appartement.adresse}}</dd>

                    <dt class="col-sm-3">Ville :</dt>
                    <dd class="col-sm-9">{{appartement.ville}}</dd>

                    <dt class="col-sm-3">Code postal :</dt>
                    <dd class="col-sm-9">{{appartement.codePostal}}</dd>

                    <dt class="col-sm-3">Etage :</dt>
                    <dd class="col-sm-9">{{appartement["étage"]}}</dd>

                    <dt class="col-sm-3">Superficie :</dt>
                    <dd class="col-sm-9">{{appartement.superficie}}</dd>

                    <dt class="col-sm-3">Capacité :</dt>
                    <dd class="col-sm-9">{{appartement["capacité"]}}</dd>

                    <dt class="col-sm-3">Nombre de pièces :</dt>
                    <dd class="col-sm-9">{{appartement["nombre_de_pièces"]}}</dd>

                </dl>
            </div>

            <img class="align-self-center mr-3" src="../../assets/img/6.jpg" alt="photo-salle">

        </div>

    </div>

</section>