<div class="menuFive">
    <span></span>
    <span></span>
    <span></span>
</div>


<script src="home.component.js"></script>
<nav id="sideNav">
    <button class="fa fa-times" id="close"></button>
    <div>
      <a href="#">home</a>
      <a href="#">mens</a>
      <a href="#">womens</a>
      <a href="#">goods</a>
      <a href="#">brands</a>
      <a href="#">blog</a>
      <a href="#">about</a>
      <a href="#">contact</a>
      <a href="#">shipping</a>
    </div>
  </nav>
  <div id="container">
    <header>
      <nav id="mainNav">
        <button class="fa fa-bars open"></button>
        <div>
          <a href="#"><i class="fa fa-search"></i></a>
          <a href="#"><i class="fa fa-shopping-bag"></i></a>
        </div>
      </nav>
      <div class="cta">
        <h1>explore farther</h1>
        <button>shop now</button>
      </div>
    </header>
    <main>
      <section class="row">
        <a href="#">
          <figure class="col-md-3 col-sm-6">
              <img src="https://www.stormykromer.com/images/55210-305_L.png" class="img-fluid"/>
            <figcaption>
              <a href="#">clothes <i class="fa fa-long-arrow-right"></i></a>
            </figcaption>
          </figure>
        </a>
        <a href="#">
          <figure class="col-md-3 col-sm-6">
            <img src="http://pngimg.com/upload_small/boots/boots_PNG7815.png" class="img-fluid"/>
            <figcaption>
              <a href="#">shoes <i class="fa fa-long-arrow-right"></i></a>
            </figcaption>
          </figure>
        </a>
        <figure class="last col-md-6">
          <img src="https://images.pexels.com/photos/106936/pexels-photo-106936.jpeg?h=350&auto=compress&cs=tinysrgb" class="img-fluid"/>
          <figcaption>
            <h3>15% off<br> all home decor</h3>
            <button>shop now</button>
          </figcaption>
        </figure>
      </section>
  <!--     <br> -->
      <section class="row">
        <figure class="col-md-3 col-sm-6">
          <img src="http://pngimg.com/uploads/jacket/jacket_PNG8048.png" class="img-fluid"/>
        </figure>
        <figure class="col-md-3 col-sm-6">
          <img src="http://pngimg.com/uploads/glasses/glasses_PNG31.png" class="img-fluid"/>
        </figure>
        <figure class="col-md-3 col-sm-6">
          <img src="https://www.stormykromer.com/images/55210-305_L.png" class="img-fluid"/>
        </figure>
        <figure class="col-md-3 col-sm-6">
          <img src="http://www.wigwam.com/products/images/Product/large/F4274_1_.png" class="img-fluid"/>
        </figure>
        <button>SHOP NOW</button>
      </section>
    </main>
    <footer>
      <ul>
        <li>home</li>
        <li>mens</li>
        <li>womens</li>
        <li>goods</li>
        <li>brands</li>
        <li>blog</li>
      </ul>
      <p><small>Copyright &copy; 2016</small></p>
    </footer>
  </div>